/* This will be compiled into the final CSS file. */
@import "compass/css3";
/* VARIABLES */

/* Colours */

$grey0: #F3F3F3;
$grey1: #D3D3D3;
$grey2: #c3c3c3;
$grey3: #a3a3a3;
$grey4: #131313;
$grey5: #333333;
$light-green: #66FF66;
$green: #5CE65C;
$light-yellow: #FFFF66;
$yellow: #FFFF00;

$white: #FFFFFF;

$blue1: #CAE5FF;
$blue2: #ACEDFF;
$blue3: #89BBFE;
$blue4: #6F8AB7;
$blue5: #615D6C;

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #FAFAFA;
	font-family: 'Open Sans', sans-serif;
}

#map {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	position: fixed;

	path {
		transition: fill 0.25s;
		fill: $grey1;
		cursor: cell;

		&:hover {
			fill: $grey2;
		}

		&.place {
			fill: $grey3;
		}
	}

	.place-label {
		font-size: 10px;
		font-family: 'Open Sans', sans-serif;
		fill: $grey5;
	}

	.country-label {
		font-size: 12px;
		font-weight: 600;
		font-family: 'Open Sans', sans-serif;
		fill: $grey5;
	}

	text {
		pointer-events: none;
	}

	image {
		cursor: pointer;
	}
}

input {
	display: none;
}

h2 {
	font-size: 13px;
	color: $grey4;
}

#sidebar-left {
	position: fixed;
	left: 20px;
	z-index: 1;
	height: 100%;

	.sidebar-options:checked {

		&~label {
		opacity: 1;
		background-color: $blue3;
		color: $white;

			&.sidebar-item-button {

				&:nth-child(4) {
					opacity: 0.8;
	     				transform: scale(0.8) translate(30px * 2, 0);
	     			}
	     			&:nth-child(6) {
	     				opacity: 0.6;
	     				transform: scale(0.8) translate(30px * 4, 0);
	     			}	
				&:nth-child(8) {
					opacity: 0.4;
	     				transform: scale(0.8) translate(30px * 6, 0);
	     			}
	     	}

		}
     	
	    &~#never-visited:checked~#never-visited-board {
			opacity: 1;
		}

		&~#will-visit:checked~#will-visit-board {
			opacity: 1;
		}

		&~#visited:checked~#visited-board {
			opacity: 1;
		}
	
	}

}

#sidebar-right {

	@media screen and (min-width: 768px) {
		height: 100%;
		z-index: 1;
		position: fixed;
		right: 20px;
	}
	
	@media screen and (min-width: 480px) {
		position: fixed;
		right: 10px;
		height: 100%;
	}


	@media screen and (max-width: 479px) {
		display: none;
	}

	.sidebar-options:checked~label {
		opacity: 1;
		background-color: $blue3;
		color: $white;
		
		&.sidebar-item-button {

			&:nth-child(4) {
				opacity: 0.8;
     				transform: scale(0.8) translate(-30px * 2, 0);
     			}
     		&:nth-child(6) {
     				opacity: 0.6;
     				transform: scale(0.8) translate(-30px * 4, 0);
     			}	
			&:nth-child(8) {
				opacity: 0.4;
     				transform: scale(0.8) translate(-30px * 6, 0);
     			}
     		}
     		
	}

	$colourSelection: #EF9EA3, #C795BF, #92B0DB, #88EEFA, 
						#A1E09A, #FEF59D, #F9CB8D, #F19D7F;

	div.colour {
		position: relative;
	}

	label.colour {
		z-index: 6;
		transition: background-color 0.50s;
		display: block;
		border-radius: 50%;
		position: absolute;
		width: 20px;
		height: 20px;
	}

	.colour-selected {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		top: 5px;
		left: 5px;
	}

	.colour-unselected {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: $white;
		top: 5px;
		left: 5px;
	}

	@for $i from 1 through length($colourSelection) {
   		#colour#{$i} {
   			top: 10px;
   			left: 10px;
       		background-color: nth($colourSelection, $i);
   		}
	}

	@for $i from 1 through length($colourSelection) {
   		#colour#{$i} .colour-selected {
       		background-color: nth($colourSelection, $i);
   		}
	}

	.sidebar-options~div.colour {
		opacity: 0;
		transition: all ease;
		transition-duration: 250ms;
	}

	/* Setting up circular open animation($pi / 6) * ($i) */
	$pi: 3.14;

	.sidebar-options:checked~div.colour {
		opacity: 1;

		@for $i from 1 through 4 {
			$angle: 15deg * ($i - 2.5);
			$distance: -90px;
   			&:nth-child(#{$i + 2}) {
       			transform: translate(cos($angle) * $distance + 40px, 
       								sin($angle) * $distance);
       		}
		}

		@for $i from 5 through 8 {
			$angle: 15deg * ($i - 6.5);
			$distance: -90px;

   			&:nth-child(#{$i + 2}) {
       			transform: translate(cos($angle) * $distance, 
       								sin($angle) * $distance);
       		}
		}
	}

	.colour-input:checked~.colour-unselected {
			display: none;
		}
}


/* MAKE RESPONSIVE */
div.sidebar-container {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	z-index: 2;
	margin-top: 20px;
	color: grey;

	&:first-child {
		margin-top: 20px;
	}

	.sidebar-banner: {
		position: relative;
		color: grey;
	}

	label {
		z-index: 3;
		transition: background-color 0.50s;
		display: block;
		border-radius: 50%;
		position: absolute;
		width: 40px;
		height: 40px;
		cursor: pointer;

		&.sidebar-options {
			z-index: 5;
		}

		&:hover {
			background-color: $blue3;
			color: $white;
		}

	}

	.sidebar-icon {
		z-index: 4;
		position: absolute;
		width: 40px;
		height: 40px;
		padding: 0px 0 0 0px ;
		left: 8px;
		font-size: 30px;
		text-align: middle;
	}

	.sidebar-item-button {

		position: absolute;

		i {
			position: absolute;
			top: 9px;
			left: 8px;
			color: $white;
		}
	}

	.sidebar-options~.sidebar-item-button {
		opacity: 0;
		transition: all ease;

		&:nth-child(4) {
			transition-duration: 100ms * 1;
		}

		&:nth-child(6) {
			transition-duration: 100ms * 2;
		}	

		&:nth-child(8) {
			transition-duration: 100ms * 3;
		}
	}

	.sidebar-item:checked+label {
		i {
			color: $grey5;
		}
	}

}

.visit-board {
	position: absolute;
	left: 50px;
	top: 130px;
	height: auto;
	min-height: 50px;
	max-height: 300px;
	overflow-y: scroll;
	width: 110px;
	padding: 10px 10px;
	text-align: left;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.5s linear;
	box-shadow: 2px 7px 8px -8px rgba(0,0,0,0.75), inset -1px -1px 9px -3px rgba(233,245,240,1);

	background: rgba(137, 187, 254, 0.3);
	background: linear-gradient(45deg, rgba(137, 187, 254, 0.7) 0%, rgba(82,153,235,0.15) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84bcf1', endColorstr='#5299eb', GradientType=1 );

}	


.visit-board-list {
	font-size: 10px;
	color: $grey4;
}

::-webkit-scrollbar { 
    display: none; 
}