/* This will be compiled into the final CSS file. */
/* VARIABLES */
/* Colours */
/* line 25, master.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 30, master.scss */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 36, master.scss */
#map {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  position: fixed;
}
/* line 42, master.scss */
#map path {
  transition: fill 0.25s;
  fill: #e3e3e3;
  cursor: cell;
}
/* line 47, master.scss */
#map path:hover {
  fill: #c3c3c3;
}
/* line 51, master.scss */
#map path.place {
  fill: #a3a3a3;
}
/* line 56, master.scss */
#map .place-label {
  font-size: 10px;
  font-family: sans-serif;
  fill: #333333;
}
/* line 62, master.scss */
#map .country-label {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  fill: #333333;
}
/* line 69, master.scss */
#map text {
  pointer-events: none;
}
/* line 73, master.scss */
#map image {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  /* line 78, master.scss */
  #sidebar {
    height: 100%;
    z-index: 1;
    position: fixed;
    right: 20px;
  }
}
@media screen and (min-width: 480px) {
  /* line 78, master.scss */
  #sidebar {
    position: fixed;
    right: 10px;
    height: 100%;
  }
}
@media screen and (max-width: 479px) {
  /* line 78, master.scss */
  #sidebar {
    display: none;
  }
}
/* line 98, master.scss */
#sidebar div.sidebar-container {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 2;
  margin-top: 20px;
  color: grey;
  .sidebar-banner-position: relative;
  .sidebar-banner-color: grey;
  /* Setting up circular open animation($pi / 6) * ($i) */
}
/* line 106, master.scss */
#sidebar div.sidebar-container:first-child {
  margin-top: 20px;
}
/* line 110, master.scss */
#sidebar div.sidebar-container input[type=radio] {
  display: none;
}
/* line 114, master.scss */
#sidebar div.sidebar-container input[type=checkbox] {
  display: none;
}
/* line 118, master.scss */
#sidebar div.sidebar-container input[type=button] {
  display: none;
}
/* line 128, master.scss */
#sidebar div.sidebar-container label {
  z-index: 3;
  transition: background-color 0.50s;
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
/* line 138, master.scss */
#sidebar div.sidebar-container label.sidebar-options {
  z-index: 5;
}
/* line 142, master.scss */
#sidebar div.sidebar-container label:hover {
  background-color: #89BBFE;
  color: #FFFFFF;
}
/* line 149, master.scss */
#sidebar div.sidebar-container .sidebar-icon {
  z-index: 4;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0px 0 0 0px;
  top: 5px;
  left: 8px;
  font-size: 30px;
  text-align: middle;
}
/* line 161, master.scss */
#sidebar div.sidebar-container .sidebar-item-button {
  position: absolute;
}
/* line 165, master.scss */
#sidebar div.sidebar-container .sidebar-item-button i {
  position: absolute;
  top: 9px;
  left: 8px;
  color: #FFFFFF;
}
/* line 173, master.scss */
#sidebar div.sidebar-container .sidebar-options ~ .sidebar-item-button {
  opacity: 0;
  transition: all ease;
}
/* line 177, master.scss */
#sidebar div.sidebar-container .sidebar-options ~ .sidebar-item-button:nth-child(4) {
  transition-duration: 100ms;
}
/* line 181, master.scss */
#sidebar div.sidebar-container .sidebar-options ~ .sidebar-item-button:nth-child(6) {
  transition-duration: 200ms;
}
/* line 185, master.scss */
#sidebar div.sidebar-container .sidebar-options ~ .sidebar-item-button:nth-child(8) {
  transition-duration: 300ms;
}
/* line 191, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ label {
  opacity: 1;
  background-color: #89BBFE;
  color: #FFFFFF;
}
/* line 199, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ label.sidebar-item-button:nth-child(4) {
  opacity: 0.8;
  transform: scale(0.8) translate(-60px, 0);
}
/* line 204, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ label.sidebar-item-button:nth-child(6) {
  opacity: 0.6;
  transform: scale(0.8) translate(-120px, 0);
}
/* line 209, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ label.sidebar-item-button:nth-child(8) {
  opacity: 0.4;
  transform: scale(0.8) translate(-180px, 0);
}
/* line 218, master.scss */
#sidebar div.sidebar-container .sidebar-item:checked + label i {
  color: #333333;
}
/* line 226, master.scss */
#sidebar div.sidebar-container div.colour {
  position: relative;
}
/* line 230, master.scss */
#sidebar div.sidebar-container label.colour {
  z-index: 6;
  transition: background-color 0.50s;
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
}
/* line 240, master.scss */
#sidebar div.sidebar-container .colour-selected {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}
/* line 249, master.scss */
#sidebar div.sidebar-container .colour-unselected {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFFFFF;
  top: 5px;
  left: 5px;
}
/* line 260, master.scss */
#sidebar div.sidebar-container #colour1 {
  top: 10px;
  left: 10px;
  background-color: #EF9EA3;
}
/* line 260, master.scss */
#sidebar div.sidebar-container #colour2 {
  top: 10px;
  left: 10px;
  background-color: #C795BF;
}
/* line 260, master.scss */
#sidebar div.sidebar-container #colour3 {
  top: 10px;
  left: 10px;
  background-color: #92B0DB;
}
/* line 260, master.scss */
#sidebar div.sidebar-container #colour4 {
  top: 10px;
  left: 10px;
  background-color: #88EEFA;
}
/* line 260, master.scss */
#sidebar div.sidebar-container #colour5 {
  top: 10px;
  left: 10px;
  background-color: #A1E09A;
}
/* line 260, master.scss */
#sidebar div.sidebar-container #colour6 {
  top: 10px;
  left: 10px;
  background-color: #FEF59D;
}
/* line 260, master.scss */
#sidebar div.sidebar-container #colour7 {
  top: 10px;
  left: 10px;
  background-color: #F9CB8D;
}
/* line 260, master.scss */
#sidebar div.sidebar-container #colour8 {
  top: 10px;
  left: 10px;
  background-color: #F19D7F;
}
/* line 268, master.scss */
#sidebar div.sidebar-container #colour1 .colour-selected {
  background-color: #EF9EA3;
}
/* line 268, master.scss */
#sidebar div.sidebar-container #colour2 .colour-selected {
  background-color: #C795BF;
}
/* line 268, master.scss */
#sidebar div.sidebar-container #colour3 .colour-selected {
  background-color: #92B0DB;
}
/* line 268, master.scss */
#sidebar div.sidebar-container #colour4 .colour-selected {
  background-color: #88EEFA;
}
/* line 268, master.scss */
#sidebar div.sidebar-container #colour5 .colour-selected {
  background-color: #A1E09A;
}
/* line 268, master.scss */
#sidebar div.sidebar-container #colour6 .colour-selected {
  background-color: #FEF59D;
}
/* line 268, master.scss */
#sidebar div.sidebar-container #colour7 .colour-selected {
  background-color: #F9CB8D;
}
/* line 268, master.scss */
#sidebar div.sidebar-container #colour8 .colour-selected {
  background-color: #F19D7F;
}
/* line 273, master.scss */
#sidebar div.sidebar-container .sidebar-options ~ div.colour {
  opacity: 0;
  transition: all ease;
  transition-duration: 250ms;
}
/* line 283, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ div.colour {
  opacity: 1;
}
/* line 290, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ div.colour:nth-child(3) {
  transform: translate(-43.14916px, 34.44151px);
}
/* line 290, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ div.colour:nth-child(4) {
  transform: translate(-49.23004px, 11.74736px);
}
/* line 290, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ div.colour:nth-child(5) {
  transform: translate(-49.23004px, -11.74736px);
}
/* line 290, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ div.colour:nth-child(6) {
  transform: translate(-43.14916px, -34.44151px);
}
/* line 301, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ div.colour:nth-child(7) {
  transform: translate(-83.14916px, 34.44151px);
}
/* line 301, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ div.colour:nth-child(8) {
  transform: translate(-89.23004px, 11.74736px);
}
/* line 301, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ div.colour:nth-child(9) {
  transform: translate(-89.23004px, -11.74736px);
}
/* line 301, master.scss */
#sidebar div.sidebar-container .sidebar-options:checked ~ div.colour:nth-child(10) {
  transform: translate(-83.14916px, -34.44151px);
}
/* line 308, master.scss */
#sidebar div.sidebar-container .colour-input:checked ~ .colour-unselected {
  display: none;
}

/* get responsive */
