/* This will be compiled into the final CSS file. */
@import "compass/css3";
/* VARIABLES */

/* Colours */

$grey0: #F3F3F3;
$grey1: #e3e3e3;
$grey4: #333333;
$grey2: #c3c3c3;
$grey3: #a3a3a3;
$light-green: #66FF66;
$green: #5CE65C;
$light-yellow: #FFFF66;
$yellow: #FFFF00;

$white: #FFFFFF;

$blue1: #CAE5FF;
$blue2: #ACEDFF;
$blue3: #89BBFE;
$blue4: #6F8AB7;
$blue5: #615D6C;

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#map {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	position: fixed;

	path {
		transition: fill 0.25s;
		fill: $grey1;
		cursor: cell;

		&:hover {
			fill: $grey2;
		}

		&.place {
			fill: $grey3;
		}
	}

	.place-label {
		font-size: 10px;
		font-family: sans-serif;
		fill: $grey4;
	}

	.country-label {
		font-size: 12px;
		font-weight: bold;
		font-family: sans-serif;
		fill: $grey4;
	}

	text {
		pointer-events: none;
	}

	image {
		cursor: pointer;
	}
}

#sidebar {

	@media screen and (min-width: 768px) {
		height: 100%;
		z-index: 1;
		position: fixed;
		right: 20px;
	}
	
	@media screen and (min-width: 480px) {
		position: fixed;
		right: 10px;
		height: 100%;
	}


	@media screen and (max-width: 479px) {
		display: none;
	}

	div.sidebar-container {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		z-index: 2;
		margin-top: 20px;
		color: grey;

		&:first-child {
			margin-top: 20px;
		}

		input[type=radio] {
			display: none;
		}

		input[type=checkbox] {
			display: none;
		}

		input[type=button] {
			display: none;
		}

		.sidebar-banner: {
			position: relative;
			color: grey;
		}

		label {
			z-index: 3;
			transition: background-color 0.50s;
			display: block;
			border-radius: 50%;
			position: absolute;
			width: 40px;
			height: 40px;
			cursor: pointer;

			&.sidebar-options {
				z-index: 5;
			}

			&:hover {
				background-color: $blue3;
				color: $white;
			}

		}

		.sidebar-icon {
			z-index: 4;
			position: absolute;
			width: 40px;
			height: 40px;
			padding: 0px 0 0 0px ;
			top: 5px;
			left: 8px;
			font-size: 30px;
			text-align: middle;
		}

		.sidebar-item-button {
	
			position: absolute;

			i {
				position: absolute;
				top: 9px;
				left: 8px;
				color: $white;
			}
		}

		.sidebar-options~.sidebar-item-button {
			opacity: 0;
			transition: all ease;

				&:nth-child(4) {
					transition-duration: 100ms * 1;
      			}

      			&:nth-child(6) {
      				transition-duration: 100ms * 2;
      			}	

				&:nth-child(8) {
					transition-duration: 100ms * 3;
      			}
      		
		}


		.sidebar-options:checked~label {
			opacity: 1;
			background-color: $blue3;
			color: $white;

			&.sidebar-item-button {


				&:nth-child(4) {
					opacity: 0.8;
      				transform: scale(0.8) translate(-30px * 2, 0);
      			}

      			&:nth-child(6) {
      				opacity: 0.6;
      				transform: scale(0.8) translate(-30px * 4, 0);
      			}	

				&:nth-child(8) {
					opacity: 0.4;
      				transform: scale(0.8) translate(-30px * 6, 0);
      			}
      		}
      		
		}

		$colourSelection: #EF9EA3, #C795BF, #92B0DB, #88EEFA, #A1E09A, #FEF59D, #F9CB8D, #F19D7F;

		div.colour {
			position: relative;
		}

		label.colour {
			z-index: 6;
			transition: background-color 0.50s;
			display: block;
			border-radius: 50%;
			position: absolute;
			width: 20px;
			height: 20px;
		}

		.colour-selected {
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			top: 5px;
			left: 5px;
		}

		.colour-unselected {
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $white;
			top: 5px;
			left: 5px;
		}

		@for $i from 1 through length($colourSelection) {
    		#colour#{$i} {
    			top: 10px;
    			left: 10px;
        		background-color: nth($colourSelection, $i);
    		}
		}

		@for $i from 1 through length($colourSelection) {
    		#colour#{$i} .colour-selected {
        		background-color: nth($colourSelection, $i);
    		}
		}

		.sidebar-options~div.colour {
			opacity: 0;
			transition: all ease;
			transition-duration: 250ms;
		}

		/* Setting up circular open animation($pi / 6) * ($i) */
		
		$pi: 3.14;

		.sidebar-options:checked~div.colour {
			opacity: 1;
			@for $i from 1 through 4 {

				$angle: 15deg * ($i - 2.5);
				$distance: -90px;

    			&:nth-child(#{$i + 2}) {
        			transform: translate(cos($angle) * $distance + 40px, sin($angle) * $distance);
        		}
			}

			@for $i from 5 through 8 {

				$angle: 15deg * ($i - 6.5);
				$distance: -90px;

    			&:nth-child(#{$i + 2}) {
        			transform: translate(cos($angle) * $distance, sin($angle) * $distance);
        		}
			}
		}

		.colour-input:checked~.colour-unselected {
				display: none;
			}

	}

}


/* get responsive */
